
<h1>Listing Activities</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <ul>
      <% Activity.list_athlete_activities.each do |activity| %>
      <li><% activity %></li>
      <% end %>
    </ul>

</table>

<br>
